# === IntelliJ IDEA ===
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

# === Eclipse ===
.classpath
.project
.settings/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VSCode ===
.vscode/

# === macOS ===
.DS_Store
